<div class="container d-flex flex-column bd-highlight mb-3 mt-3 align-items-center p-5">
    <p class="text-muted display-5">Home page</p>

    <% if current_user %>
      <%= link_to user_signed_in? ? current_user.email : "", users_show_path, class: "btn btn-primary w-50" %>
    <% end %>
    
    <br>
    <%= link_to "Search book", books_path, class: "btn btn-primary w-50" %>
</div>

