<div id="<%= dom_id book_review %>">
  <p>
    <strong>User:</strong>
    <%= book_review.user_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= book_review.book_id %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= book_review.review %>
  </p>

</div>
