<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Number of pages:</strong>
    <%= book.number_of_pages %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= book.image.attached? ? image_tag(book.image) : "" %>
  </p>

</div>
