<div class="container-fluid bg-light w-50 h-auto rounded-lg mt-5">
  <div class="d-flex flex-column align-items-center justify-content-center text-align">
    <h1>Editing book</h1>

    <%= render "form", book: @book %>

    <br>

    <div>
      <%= link_to "Show this book", @book, class: "btn btn-primary" %> |
      <%= link_to "Back to books", books_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
