<p style="color: green"><%= notice %></p>

<h1 style="text-align: center;">Books</h1>

<div id="books">
  <div class="container mh-100 mw-100 d-flex justify-content-center align-items-center">
    <% @books.each do |book| %>
        <%= render book %>
    <% end %>
  </div>
</div>
<div style="text-align: center;" class="mt-5">
  <%= link_to "New book", new_book_path, class: "btn btn-primary" %>
</div>
